/* File: assets/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden; 
  position: relative;
  height: 100vh; 
 
}

html, body, #__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

.component-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #9ca3af;
}
.hide-scrollbar {

  scrollbar-width: none;
  

  -ms-overflow-style: none;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}